@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@300&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
}

header {
  height: 200px;
}

.box-header {
  background: linear-gradient(#dd9a56, #f8f9f9);
  color: white;
}

.h-color {
  color: rgb(249, 189, 166);
  padding-top: 20px;
}

.d-flex {
  display: flex;
}

.margin20 {
  margin-left: 20rem;
  margin-right: 20rem;
}

.margin-tb2 {
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.carousel-item {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-carousel {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img-carousel {
    height: 10px;
  }
}
@media (min-width: 1200px) {
  .img-carousel {
    height: 100%;
  }
}

nav {
  padding: 10px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-right: 10px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
}
nav ul li a:hover {
  color: rgb(230, 116, 116);
}

#botonera {
  background-color: rgb(249, 189, 166);
}
#botonera ul li a {
  color: lightslategray;
  font-size: 1.2em;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 99%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.4s;
}
#botonera ul li a:hover {
  color: rgb(230, 116, 116);
  font-weight: 600;
  background-size: 100% 2px;
}
#botonera img {
  width: 75px;
}
#botonera svg {
  fill: rgb(230, 116, 116);
}

.btn-more, .btn-orange, .btn-green, .btn-red {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: black;
  border-radius: 4px;
}

.btn-red {
  background: linear-gradient(to top, rgb(255, 185, 185), rgb(255, 130, 130));
  width: 50%;
}
.btn-red:hover {
  background: rgb(244, 77, 77);
}

.btn-green {
  background: linear-gradient(to top, rgb(214, 251, 196), rgb(164, 249, 136));
  width: 50%;
}
.btn-green:hover {
  background: rgb(79, 255, 20);
}

.btn-orange {
  background: linear-gradient(to top, rgb(250, 210, 161), rgb(247, 166, 37));
}
.btn-orange:hover {
  background: #ff9514;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(249, 189, 166);
  text-align: center;
}

.container {
  width: 99%;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr;
  grid-gap: 20px;
}

.box-footer {
  background: linear-gradient(#f8f9f9, #dd9a56);
  color: white;
}

.sci {
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  padding-left: 0;
}
.sci li {
  list-style: none;
}
.sci li .a {
  display: inline-block;
  display: grid;
  align-content: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  grid-gap: 20px;
  text-decoration: none;
  border-radius: 4px;
}
.sci li .a:hover {
  background: rgb(230, 116, 116);
}

.quicklinks {
  position: relative;
  justify-content: left;
  align-content: left;
  text-align: center;
}
.quicklinks li {
  list-style: none;
}
.quicklinks li a {
  color: lightslategray;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  display: grid;
  grid-gap: 10px;
}
.quicklinks li a:hover {
  background: rgb(230, 116, 116);
}

.box-footer {
  background: linear-gradient(#f8f9f9, #dd9a56);
  color: white;
}

.img-footer {
  height: 30px;
  width: 30px;
}

section.texto h1 {
  margin-bottom: 40px;
  font-size: 2.8em;
}

section.texto p {
  line-height: 1.8em;
  font-size: 1.2em;
}

.j-content-space {
  justify-content: space-between;
}

.j-content-center {
  justify-content: center;
}

.h-font {
  font-size: 70px;
}

.width-text {
  max-width: 30rem;
}

.text-color-grey {
  color: lightslategrey;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

p {
  color: lightslategrey;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 3em;
}

h3 {
  color: rgb(108, 61, 25);
  padding-bottom: 5px;
  line-height: 3em;
}

.padding5 {
  padding-top: 5rem;
}

.padding3 {
  padding-top: 3rem;
}

.padding2 {
  padding-top: 2vh;
}

.padding-lateral {
  padding-left: 10vh;
  padding-right: 10vh;
}

.padding-lateral-video {
  padding-left: 3vh;
  padding-right: 3vh;
}

.padding-bottom5 {
  padding-bottom: 10vh;
}

.padding-bottom2 {
  padding-bottom: 2vh;
}

.padding-top {
  padding-top: 0%;
}

/*# sourceMappingURL=main.css.map */
