/* BOTONES */
.btn-more{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: black;
    border-radius: 4px;
    }

.btn-red{
    @extend .btn-more;
    background: $bgred;
    width: 50%;
    &:hover{
        background: $bgredhover;
    }
}
.btn-green{
    @extend .btn-more;
    background: $bggreen;
    width: 50%;

    &:hover{
        background: $bggreenhover ;
    }
}
.btn-orange{
    @extend .btn-more;
    background: $bgorange ;
    &:hover{
        background: $bgorangehover;
    }
}

.btn-blue{
    @extend .btn-more;
    width: 20vh;
    background: $bgblue;
    &:hover{
        background: $bgbluehover;
    }
}
/* FONT SIZE PAGINA 404 */
.font-size-404{
    font-family: 'Arvo', serif;
    text-align: justify;
    text-justify: auto;
    color: #914d15;
}

.font-size-404-60{
    @extend .font-size-404;
    color: #f1a82a;
    margin-top: 5vh;
    font-size:60px;
}

.font-size-404-40{
    @extend .font-size-404;
    font-size:40px;
}

.font-size-404-20{
    @extend .font-size-404;
    font-size:20px;
}