.btn-more{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: black;
    border-radius: 4px;
    }

.btn-red{
    @extend .btn-more;
    background: linear-gradient(to top, rgb(255, 185, 185), rgb(255, 130, 130));
    width: 50%;
    &:hover{
        background: rgb(244, 77, 77);
    }
}
.btn-green{
    @extend .btn-more;
    background: linear-gradient(to top, rgb(214, 251, 196), rgb(164, 249, 136));
    width: 50%;

    &:hover{
        background: rgb(79, 255, 20);
    }
}
.btn-orange{
    @extend .btn-more;
    background: linear-gradient(to top, rgb(250, 210, 161), rgb(247, 166, 37));
    &:hover{
        background: #ff9514;
    }
}