/* NAV */
nav{
    padding: 10px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    ul{
        display: flex;
        list-style: none;
        li{
            margin-right: 10px;
            a{
                text-decoration: none;
                color: white;
                font-size: 1.3em;
                &:hover{
                    color: $Color;
                }
            }
        }
    }
}
/* BOTONERA */
#botonera{
    background-color: $bgcolorbot;
    ul li a{
        color: $bgcolortext;
        font-size: 1.2em;
		background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 99%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .4s;
        &:hover{
            color: $Color;
            font-weight: 2;
            background-size: 100% 2px;
        }
    }
    img{
        width: 75px;
    }
    svg{
        fill: $Color;
    }
}